<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='form.css') }}" />
  </head>
  <body>
    <div class="form-box">
      <h2>Submit a fun fact!</h2>
      <form action="/facts" method="POST">
        <div class="user-box">
          <input type="text" name="submitter" required="" />
          <label>Your Name</label>
        </div>
        <div class="user-box">
          <input type="text" name="fact" required="" />
          <label>Fact</label>
        </div>
        <div class="button-box">
          <button
            type="submit"
            class="submit-button"
            name="new-fact-submit-button"
            value="Submit">
            Submit
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
